.about-page-wrapper {
  .container {
    li .home {
      color: black;
    }
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;

    img {
      width: 40%;
    }
  }

  .share-comment-section {
    width: 80%;
    margin-bottom: 80px;
  }

  .share-wrapper {
    width: 100%;
    text-align: right;
  }
}
