$font-size: 12px;
$letter-space: 1px;

.container {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  border-bottom: 2px solid #eee;

  .bars-wrapper {
    margin-top: 5px;
    width: 30px;
    cursor: pointer;
  }

  .bars-wrapper .line-first,
  .line-second,
  .line-third {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }
  .home {
    color: #c69f73;
  }
  li {
    padding-right: 25px;
    font-size: $font-size;
    letter-spacing: $letter-space;
    text-transform: uppercase;
    cursor: pointer;
  }

  li:hover {
    color: #c69f73;
  }

  .nav-icons i {
    padding-right: 15px;
    font-size: 13px;
    cursor: pointer;
  }

  .search-bar {
    height: 50px;
    border-left: 1px solid #eee;
    display: flex;
    align-items: center;
  }

  .search-bar i {
    cursor: pointer;
  }

  input {
    outline: none;
    border: none;
    padding-left: 15px;
    font-style: italic;
  }
}

@media (min-width: 1024px) {
  .bars-wrapper {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container .nav-links {
    display: none;
  }

  .nav-links {
    display: none;
    text-align: left;
    position: absolute;
    width: 100%;
    background: #f6f6f6;
    padding: 20px 0 20px 20px;
    margin-top: 60px;
  }

  .nav-links.opened {
    display: block;
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;

    .bars-wrapper {
      width: 20px;
    }

    .nav-links {
      display: none;
    }

    .nav-icons i {
      padding-right: 10px;
      font-size: 10px;
    }
  }
}
