.contact-info-container {
  margin-top: 60px;

  img {
    width: 100%;
  }

  h4 {
    text-align: left;
    line-height: 24px;
    color: #424242;
    font-size: 14px;
    font-weight: 500;
    margin: unset;
  }
}
