$border-style: 1px solid #ddd;
$radius: 10px;

.message-container {
  margin-top: 60px;
  text-align: left;

  .email-input,
  .subject-input,
  .message-input {
    margin-top: 25px;
  }

  input {
    width: 50%;
    margin-top: 7px;
    padding: 7px;
    border: $border-style;
    border-radius: $radius;
  }

  textarea {
    width: 70%;
    margin-top: 7px;
    border: $border-style;
    border-radius: $radius;
  }

  h4 {
    line-height: 24px;
    color: #424242;
    font-size: 14px;
    font-weight: 500;
    margin: unset;
  }

  button {
    margin-top: 25px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666;
    padding: 10px 25px;
    border-radius: 15px;
  }
}
